<br>
<br>
<div class="card d-flex align-items-center" style="width: 32rem;" *ngIf="selectedUser">
    <img src="assets/images/userone.png" class="card-img-top" alt="selected_user">
    <div class="card-body">
      <p class="card-text text-center">{{ selectedUser.username }}</p>
      <button class="btn btn-success" (click)="onLikeUser(selectedUser)" *ngIf="!liked">Like!</button>
      <button class="btn btn-danger" (click)="onUnLikeUser(selectedUser)" *ngIf="liked">UnLike!</button>
    </div>
</div>
<div class="card d-flex align-items-center" style="width: 32rem;" *ngIf="!selectedUser">
  <img src="assets/images/userone.png" class="card-img-top" alt="selected_user">
  <div class="card-body">
    <p class="card-text"> Please Select User</p>
  </div>
</div>
