<br>
<div class="row">
  <div class="col-6">
    <br>
    <form #userAdd = "ngForm" (ngSubmit)="addUser(userAdd.value)">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" ngModel>
      </div>
      <button type="submit" class="btn btn-primary" >Add User</button>
  </form>
  <br>
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action"
            *ngFor="let user of userList"
            (click)="onSelectUser(user)"> {{ user.username }}
      <i class="fa fa-trash float-end"
      (click)="deleteUser(user.username)"></i>
    </button>
  </div>
  </div>
  <div class="col-6">
    <app-user-detail [selectedUser]="selectedUser" (userLikeEvent)="likeUser($event)"></app-user-detail>
  </div>  
       
</div>


